.navbar-lewagon {
  justify-content: space-between;
  background-color: #F8FFD2;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #F8FFD2;

  a{
    color: #8ADAB2;
  }
}
